node_modules/
.gradle/
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
# نتجاهل أي keystore باستثناء مفتاح الإصدار المخصّص لهذا المشروع
*.keystore
!release.keystore
